/* Tag selector */

/* body {
  background-color: #eaf6f6;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}
*/
.circular {
  border-radius: 100%;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 150%;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 4.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;

}

.under {
  text-decoration: underline;
}
